{% extends 'admin/base.html' %}

{% block content %}
 <h2 class="text-center"> Load Money </h2>
 <div class="col-md-6 offset-md-3">
     <form method="POST" action="{% url 'admin:load_money_form' %}">
        {% csrf_token %}
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Enter amount" required>
         </div>
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Enter qr_code or card_id or alias" name="identifier" required">
         </div>
         <button type="submit" class="btn btn-primary">Load Money</button>{{ load_money_button|safe }}
     </form>
</div>



{% endblock %}
